@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* font config */
@font-face {
  font-family: "thin";
  src: url("assets/fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "extralight";
  src: url("assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "light";
  src: url("assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "semibold";
  src: url("assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "bold";
  src: url("assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "extrabold";
  src: url("assets/fonts/Poppins-ExtraBold.ttf");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

@layer base {
  h1,
  h2,
  h3 {
    font-size: revert;
    font-weight: revert;
  }
}

.mantine-InputWrapper-error {
  width: 66%;
  display: flex;
  justify-content: end;
  margin-top: 4px;
}